{% extends "base.html" %}
{% load static %}
{% block title %}{{ property.title }}{% endblock %}
{% block content %}

<section class="detail pt-4">
  <div class="container">
    <h3 class="text-center pb-4">{{ property.title }}</h3>
    <div class="row">
      <div class="col-md-8">
        <div id="property-carousel" class="slick-carousel">
          {% if property.photo_main %}
              <div><img src="{{ property.photo_main.url }}" alt="Main Photo" style="width: 200%; height: 400px;"></div>
          {% endif %}
      
          {% if property.photo_1 %}
              <div><img src="{{ property.photo_1.url }}" alt="Photo 1" style="width: 200%; height: 400px;"></div>
          {% endif %}
      
          {% if property.photo_2 %}
              <div><img src="{{ property.photo_2.url }}" alt="Photo 2" style="width: 200%; height: 400px;"></div>
          {% endif %}
      
          {% if property.photo_3 %}
              <div><img src="{{ property.photo_3.url }}" alt="Photo 3" style="width: 200%; height: 400px;"></div>
          {% endif %}
      
          {% if property.photo_4 %}
              <div><img src="{{ property.photo_4.url }}" alt="Photo 4" style="width: 200%; height: 400px;"></div>
          {% endif %}
      
          {% if property.photo_5 %}
              <div><img src="{{ property.photo_5.url }}" alt="Photo 5" style="width: 200%; height: 400px;"></div>
          {% endif %}
      
          {% if property.photo_6 %}
              <div><img src="{{ property.photo_6.url }}" alt="Photo 6" style="width: 200%; height: 400px;"></div>
          {% endif %} 
        </div>
      
        <div class="infor p-3">
          <div class="container">
            <div class="row">
              <div class="col-md-6" style="padding-left:85px;">
                <ul>
                  <li><span class="fa fa-rupee"></span> {{ property.price}} </li>
                </ul>
                <ul>
                  <li><span class="fa fa-bed"></span> {{ property.bedrooms}} Beds</li>
                  <li><span class="fa fa-bath"></span> {{ property.bathrooms}} Baths</li>
                </ul>
              </div>
              <div class="col-md-6 pt-4" style="padding-left:85px;">
                <ul>
                  <li><span class="fa fa-map-marker"></span> {{ property.city}} </li>
                  <li><span class="fa fa-location-arrow"></span> {{ property.address }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
           <img src="{{ property.broker.broker_img.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'detail' property.id %}">{{ property.broker.name }}</h5>
			{% if user.is_authenticated %}
            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#enquiryModal">Send Enquiry</a> &nbsp &nbsp
            <a href="{% url 'email' %}" class="btn btn-primary">Send E-Mail</a>
			{% else %}
            <a href="{% url 'login' %}" class="btn btn-primary">Send Enquiry</a>    
			{% endif %} 
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
<!-- Modal -->
<div class="modal fade" id="enquiryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send Enquiry</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>    
      <div class="modal-body">
        <form method="post" id="enquiry-form">
          {% csrf_token %}
		  
          <input type="hidden" name="added_date" value="{% now 'Y-m-d' %}">
          <input type="hidden" name="user_id" value="{{ user.id }}">
          <input type="hidden" name="property_id" value="{{ property.id }}">
		  
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name">
          </div>
          <div class="form-group">
            <input type="hidden" class="form-control" name="email" id="email" value="{{ user.email }}" readonly>
          </div>
          <div class="form-group">
            <label for="phone">Mobile</label>
            <input type="text" class="form-control" name="phone" id="phone">
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject">
          </div>
          <div class="form-group"> 
            <label for="message">Message</label>
            <textarea class="form-control" name="message" id="message"></textarea>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
          <button type="submit" class="btn btn-primary float-right" onclick="sendEnquiry()">Submit</button>
		  <div id="msg"></div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- sendMail Form -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Send Email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>    
      <div class="modal-body">
        <form method="post" id="email-form">
          {% csrf_token %}
		  
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" id="name">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email">
          </div>
          <div class="form-group">
            <label for="subject">Subject</label>
            <input type="text" class="form-control" name="subject" id="subject">
          </div>
          <div class="form-group"> 
            <label for="message">Message</label>
            <textarea class="form-control" name="message" id="message"></textarea>
          </div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
          <button type="submit" class="btn btn-primary float-right" onclick="sendEmail()">Send</button>
		  <div id="msg"></div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}