{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% block meta %}
	{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <!-- web fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Hind&display=swap" rel="stylesheet">
    <!-- //web fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style-starter.css' %}">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwUfdiYep8zMC2_mFBucS9tTKm4682VMc"></script>
  </head>
  <body>


<!-- Top Menu 1 -->
<section class="w3l-top-menu-1">
	<div class="top-hd">
		<div class="container">
	<header class="row">
		<div class="social-top col-lg-3 col-6">
			<li>Follow Us</li>
			<li><a href="#"><span class="fa fa-facebook"></span></a></li>
			<li><a href="#"><span class="fa fa-instagram"></span></a> </li>
				<li><a href="#"><span class="fa fa-twitter"></span></a></li>
				<li><a href="#"><span class="fa fa-vimeo"></span></a> </li>
		</div>
		<div class="accounts col-lg-9 col-6">
				<li class="top_li"><span class="fa fa-mobile"></span><a href="tel:+142 5897555">+142 5897555</a> </li>
				<li class="top_li1"><a href="#"></a></li>
				<li class="top_li2"><a href="#"></a></li>
		</div>
		
	</header>
</div>
</div>
</section>
<!-- //Top Menu 1 -->
<section class="w3l-bootstrap-header">
  <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
    <div class="container">
      <a class="navbar-brand" href="./"><span class="fa fa-home"></span> Estate Agent</a>
      <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa fa-bars"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li> {% endcomment %}
          <li class="nav-item mr-0">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
		  
		  {% if user.is_authenticated %}
			<li class="nav-item mr-0">
            <a class="nav-link" href="{% url 'dashboard' %}">Welcome {{ user.username }}</a>
			</li>
			<li class="nav-item mr-0">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
			</li>
			<li class="nav-item mr-0">
				<a href="{% url 'subscribe' %}" class="btn btn-theme3">Subscribe</a>
			</li>       
		{% else %}
		  <li class="nav-item mr-0">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
		  <li class="nav-item mr-0">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
		  {% endif %} 
		
        </ul>
       
      </div>
    </div>
  </nav>
</section>

{% block content %}{% endblock content %}

<!-- grids block 5 -->
 <section class="w3l-footer-29-main" id="footer">
  <div class="footer-29">
    <div class="grids-forms-1 pb-5">
<div class="container">
  <div class="grids-forms">
      <div class="main-midd">
          <h4 class="title-head">Newsletter – Get Updates & Latest News</h4>
          
      </div>
      <div class="main-midd-2">
          <form action="#" method="post" class="rightside-form">
              <input type="email" name="email" placeholder="Enter your email">
              <button class="btn" type="submit">Subscribe</button>
          </form>
      </div>
    </div>
  </div>
  </div>
      <div class="container pt-5">
        
          <div class="d-grid grid-col-4 footer-top-29">
              <div class="footer-list-29 footer-1">
                  <h6 class="footer-title-29">About Us</h6>
                  <ul>
                     <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
                  </ul>
                  <div class="main-social-footer-29">
                    <h6 class="footer-title-29">Social Links</h6>
                      <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                      <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                      <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                      <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                      <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
                  </div>
              </div>
              <div class="footer-list-29 footer-2">
                  <ul>
                      <h6 class="footer-title-29">Useful Links</h6>
                      <li><a href="services.html">Management</a></li>
                      <li><a href="services.html">Reporting</a></li>
                      <li><a href="services.html">Tracking</a></li>
                      <li><a href="services.html">All Users</a></li>
                      <li><a href="contact.html">Support</a></li>
                  </ul>
              </div>
              <div class="footer-list-29 footer-3">
                  <div class="properties">
                      <h6 class="footer-title-29">Featured Properties</h6>
                      <a href="#"><img src="{% static 'assets/images/g7.jpg' %}" class="img-responsive" alt=""><p>We Are Leading International Consultiing Agency</p></a>
                      <a href="#"><img src="{% static 'assets/images/g8.jpg' %}" class="img-responsive" alt=""><p>Digital Marketing Agency all the foundational tools</p></a>
                      <a href="#"><img src="{% static 'assets/images/g9.jpg' %}" class="img-responsive" alt=""><p>Doloremque velit sapien labore eius itna</p></a>
                  </div>
              </div>
              <div class="footer-list-29 footer-4">
                  <ul>
                      <h6 class="footer-title-29">Quick Links</h6>
                      <li><a href="index.html">Home</a></li>
                      <li><a href="about.html">About</a></li>
                      <li><a href="services.html">Services</a></li>
                      <li><a href="#"> Blog</a></li>
                      <li><a href="contact.html">Contact</a></li>
                  </ul>
              </div>
          </div>
          <div class="bottom-copies text-center">
              <p class="copy-footer-29">© 2020 Estate Agent. All rights reserved | Designed by <a href="https://w3layouts.com">W3layouts</a></p>
               
          </div>
      </div>
  </div>

   <!-- move top -->
  <button onclick="topFunction()" id="movetop" title="Go to top">
              <span class="fa fa-angle-up"></span>
                 </button>
                 <script>
                     // When the user scrolls down 20px from the top of the document, show the button
                     window.onscroll = function () {
                         scrollFunction()
                     };
              
                     function scrollFunction() {
                         if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                             document.getElementById("movetop").style.display = "block";
                         } else {
                             document.getElementById("movetop").style.display = "none";
                         }
                     }
              
                     // When the user clicks on the button, scroll to the top of the document
                     function topFunction() {
                         document.body.scrollTop = 0;
                         document.documentElement.scrollTop = 0;
                     }
                 </script>
                 <!-- /move top -->
</section>
<!-- // grids block 5 -->
 <script src="https://code.jquery.com/jquery-3.6.3.min.js">
  </script>
  <!-- //footer-28 block -->
</section>

<script>
    $(function () {
      $('.navbar-toggler').click(function () {
        $('body').toggleClass('noscroll');
      })
    });
  </script> 
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
  </script>
	
<!-- Smooth scrolling -->

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>

	<script>
		function contactCheck(){
			$('#contact-form').validate({
				rules:{
					fullname:{
						required:true
					},
					email:{
						required:true,
						email:true
					},
					mobile:{
						required:true,
						digits:true,
						minlength:10,
						maxlength:10
					},
					message:{
						required:true
					}
				},
				messages:{
					fullname:{
						required:'Please enter your fullname'
					},
					email:{
						required:'Please enter your email'
					},
					mobile:{
						required:'Please enter your mobile number'
					},
					message:{
						required:'Please enter a message here'
					}
				}
			});
		}
		
		
		
		
		function loginCheck(){
			$('#login-form').validate({
				rules:{
					username:{
						required:true,
					},
					password:{
						required:true
					}
				},
				messages:{
					username:{
						required:'Please enter your username'
					},
					password:{
						required:'Please enter your password'
					}
				}
			});
		}
		
		
		
		
		function registerCheck(){
			$('#register-form').validate({
				rules:{
					username:{
						required:true
					},
					email:{
						required:true,
						email:true
					},
					password:{
						required:true,
					}
				},
				messages:{
					username:{
						required:'Please enter your username'
					},
					email:{
						required:'Please enter your email'
					},
					password:{
						required:'Please enter your password'
					}
				}
			});
		}
		
		
		function sendEnquiry(){
			$('#enquiry-form').validate({
				rules:{
					name:{
						required:true
					},
					email:{
						required:true,
						email:true
					},
					phone:{
						required:true,
						digits:true,
						minlength:10,
						maxlength:10
					},
					subject:{
						required:true
					},
					message:{
						required:true
					}
				},
				messages:{
					name:{
						required:'Please enter your name'
					},
					email:{
						required:'Please enter your email'
					},
					phone:{
						required:'Please enter your mobile number'
					},
					subject:{
						required:'Please enter your subject'
					},
					message:{
						required:'Please enter your message'
					}
				},
				submitHandler:function(form){
				
					var formdata = $('#enquiry-form').serialize();
					
					$.ajax({
					
						url: "{% url 'enquiry' %}",
						data:formdata,
						type:"POST",
						success:function(result){
						
							if(result=='saved'){
								$('#msg').html('<div class="alert alert-success">Enquiry successfully submitted.</div>');
								
								setTimeout(function() {
									//$('#enquiryModal').hide();
									window.location.href = '';
								}, 1000);
								
							}
								
						}
					
					});
				}
			});
		}
		
		function changeImg(img){
			$('#main-img').attr('src',img);
		}
	</script>
	
	
	<script>
		$("#id_country").change(function () {
			const url = $("#MemberForm").attr("data-states-url");  // get the url of the `load_cities` view
			const countryId = $(this).val();  // get the selected state ID from the HTML input
	
			$.ajax({                       // initialize an AJAX request
				url: url,                    // set the url of the request (= /members/ajax/load-cities/ )
				data: {
					'country_id': countryId       // GET parameters
				},
				success: function (data) {   
					$("#id_state").html(data); 
				}
			});
	
		});
	</script>	
	<script>
		$("#id_state").change(function () {
			const url = $("#MemberForm").attr("data-cities-url");  // get the url of the `load_cities` view
			const stateId = $(this).val();  // get the selected state ID from the HTML input
	
			$.ajax({                       // initialize an AJAX request
				url: url,                    // set the url of the request (= /members/ajax/load-cities/ )
				data: {
					'state_id': stateId       // GET parameters
				},
				success: function (data) {   
					$("#id_city").html(data); 
				}
			});
	
		});
	</script>
	

<style>
	.error{color:red;}
</style>
	
</body>

</html>
<!-- // grids block 5 -->
